# =========================
# Project Data
# =========================

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Local dataset
data/CUB_200_2011/
data/CUB_200_2011.tgz


# =========================
# Model Checkpoints
# =========================

checkpoints/*
!checkpoints/.gitkeep

*.pt
*.pth
*.ckpt


# =========================
# Experiment Outputs
# =========================

logs/
*.log

runs/
outputs/


# =========================
# Environment / Secrets
# =========================

.env
.env.*
venv/
.venv/
env/


# =========================
# IDE / OS
# =========================

.vscode/
.idea/

.DS_Store
Thumbs.db


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# Python Cache / Bytecode
# =========================

__pycache__/
*.py[cod]
*$py.class

# Local dataset
data/CUB_200_2011/
data/CUB_200_2011.tgz

# Python cache
__pycache__/
*.py[cod]